#include <Windows.h>

100 ICON MOVEABLE PURE "100.ico"

101 BITMAP MOVEABLE PURE "101.bmp"
102 BITMAP MOVEABLE PURE "102.bmp"
103 BITMAP MOVEABLE PURE "103.bmp"
104 BITMAP MOVEABLE PURE "104.bmp"
105 BITMAP MOVEABLE PURE "105.bmp"
106 BITMAP MOVEABLE PURE "106.bmp"
107 BITMAP MOVEABLE PURE "107.bmp"
108 BITMAP MOVEABLE PURE "108.bmp"
109 BITMAP MOVEABLE PURE "109.bmp"
110 BITMAP MOVEABLE PURE "110.bmp"
111 BITMAP MOVEABLE PURE "111.bmp"
112 BITMAP MOVEABLE PURE "112.bmp"
113 BITMAP MOVEABLE PURE "113.bmp"
114 BITMAP MOVEABLE PURE "114.bmp"
115 BITMAP MOVEABLE PURE "115.bmp"
116 BITMAP MOVEABLE PURE "116.bmp"
117 BITMAP MOVEABLE PURE "117.bmp"
118 BITMAP MOVEABLE PURE "118.bmp"
119 BITMAP MOVEABLE PURE "119.bmp"
120 BITMAP MOVEABLE PURE "120.bmp"
121 BITMAP MOVEABLE PURE "121.bmp"
122 BITMAP MOVEABLE PURE "122.bmp"
123 BITMAP MOVEABLE PURE "123.bmp"
124 BITMAP MOVEABLE PURE "124.bmp"

106 CURSOR MOVEABLE PURE "106.cur"

107 DIALOG MOVEABLE PURE 0, 0, 149, 83
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
    CAPTION "Screen Mate Poo Settings"
    FONT 9, "MS PGothic"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 92, 7, 50, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 25, 50, 14
    CONTROL "&Help", IDRETRY, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 43, 50, 14
    CONTROL "Exit", IDABORT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 61, 50, 14
    CONTROL "Crying", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 7, 57, 10
    CONTROL "Hourly Chime", 1001, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 23, 69, 10
    CONTROL "Always Move", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 39, 57, 10
    CONTROL "Gravity Always On", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 56, 74, 10
END

108 DIALOG MOVEABLE PURE 0, 0, 178, 148
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
    CAPTION "Screen Mate Poo Debug Window"
    FONT 9, "MS PGothic"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 129, 127, 42, 14
    CONTROL "Normal", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 7, 37, 10
    CONTROL "Run", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 19, 37, 10
    CONTROL "Walk", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 31, 37, 10
    CONTROL "Handstand", 1005, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 43, 37, 10
    CONTROL "Pee-pee", 1006, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 55, 37, 10
    CONTROL "Sleep", 1007, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 67, 37, 10
    CONTROL "Blink", 1008, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 79, 37, 10
    CONTROL "Turn", 1009, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 91, 37, 10
    CONTROL "Collision", 1010, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 103, 37, 10
    CONTROL "Pee", 1011, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 116, 37, 10
    CONTROL "Yawn", 1012, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 7, 37, 10
    CONTROL "Bleat", 1013, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 19, 37, 10
    CONTROL "Scared", 1014, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 31, 37, 10
    CONTROL "Surprised", 1015, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 43, 37, 10
    CONTROL "Eat", 1016, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 55, 37, 10
    CONTROL "Sit", 1017, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 67, 37, 10
    CONTROL "Sneeze", 1018, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 79, 37, 10
    CONTROL "Burning", 1019, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 91, 37, 10
    CONTROL "Merry 1", 1020, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 103, 37, 10
    CONTROL "Merry 2", 1021, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 116, 37, 10
    CONTROL "Merry 3", 1022, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 7, 37, 10
    CONTROL "UFO 1", 1023, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 19, 37, 10
    CONTROL "UFO 2", 1024, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 31, 37, 10
    CONTROL "UFO 3", 1025, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 43, 37, 10
    CONTROL "Rolling", 1026, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 55, 37, 10
    CONTROL "Blush", 1027, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 67, 37, 10
    CONTROL "Slide", 1028, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 79, 37, 10
    CONTROL "Fall", 1029, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 91, 37, 10
    CONTROL "Jump", 1030, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 103, 37, 10
    CONTROL "Spin", 1031, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 116, 37, 10
    CONTROL "Alien", 1036, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 128, 37, 10
    CONTROL "Mushroom", 1037, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 128, 37, 10
    CONTROL "Up", 1032, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 7, 15, 14
    CONTROL "Down", 1033, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 41, 15, 14
    CONTROL "Left", 1034, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 127, 24, 15, 14
    CONTROL "Right", 1035, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 156, 24, 15, 14
END

108 WAVE MOVEABLE PURE "108.wav"
109 WAVE MOVEABLE PURE "109.wav"
110 WAVE MOVEABLE PURE "110.wav"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x1L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Village Center,Inc.\0"
            VALUE "FileDescription", "Screen Mate Poo\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Screen Mate Poo\0"
            VALUE "LegalCopyright", "Copyright (C) 1996\0"
            VALUE "OriginalFilename", "Scmpoo.exe\0"
            VALUE "ProductName", "Screen Mate Poo\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
